* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

html, body {
    overflow: hidden;
}

input {
    border: 1px solid #707070;
    padding: 2px;
}

input:disabled {
    background-color: #E1E1E1;
}

button {
    border: 1px solid #707070;
    background-color: #53FF6A;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666; 
}

.semibold {
    font-weight: 600; /* semibold (demibold) */
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 55px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

#sidebar > #logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #03B658;
}

#sidebar > #logo_container > #sidebar_logo {
    max-width: 85%;
    max-height: 85%;
    width: auto;
    height: auto;
}

#sidebar > .sidebar_button {
    fill: #707070;
    max-width: 50px;
    height: auto;
}

#tab_selector {
    position: absolute;
    width: 4px;
    background-color: #03B658;
    height: 35px;
}

.hidden {
    display: none;
}

.content_container {
    display: none;
    padding: 8px 25px 8px 25px;
    width: 100%;
    overflow-y: auto;
}

.content_container.active {
    display: block;
}

.banner_container {
    width: 100%;
    min-height: 50px;
    box-shadow: 0 0 3px #03B658;
    border-radius: 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.banner_container.odd {
    background-color: #F5F5F5;
}

.banner_separated {
    border-left: 1px solid #03B658;
}

.top_bun, .filling, .bottom_bun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; 
}

.value {
    font-size: 1.3em;
}

.right_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top_bun {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filling {
    border-radius: 0px;
}

.bottom_bun {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.padding_15 {
    padding: 15px;
}

.margin_top_15 {
    margin-top: 15px;
}

.margin_bottom_15 {
    margin-bottom: 15px;
}

.margin_bottom_5 {
    margin-bottom: 5px;
}

.margin_right_5 {
    margin-right: 5px;
}

.margin_bottom_2 {
    margin-bottom: 2px;
}

.margin_top_45 {
    margin-top: 45px;
}

.heading {
    font-size: 1.5em;
}

.subheading {
    color: #878787;
}

.important {
    color: #03B658;
}

.important_value {
    font-size: 2.5em;
}

.secondary_value {
    font-size: 1.5em;
}

#subscr_profit {
    position: relative;
    top: 10px;
}

.progress_bar {
    border: 1px solid #707070;
    width: 100%;
    height: 20px;
}

.inner_progress_bar {
    height: 100%;
    background-color: #03B658;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}